@import url("btnhover.css");

.button{
    background-color: var(--default-color);
    color: var(--off-white);
    min-width: 100px;
    width: max-content;
    padding: 0.8rem 1rem;
    border-radius: 1px;
    cursor: pointer; 
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    font-weight: bold;
} 

.button-primary{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.button-secondary{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.button-error{
    background-color: var(--danger-color);
    color: var(--secondary-color);
}

.button-warning{
    background-color: var(--warning-color);  
}

.button-success{
    background-color: var(--success-color); 
    color: var(--secondary-color);
}

.outline{
    color: var(--default-color);
    background-color: var(--off-white);
}

.outline-primary{
    background-color: var(--off-white);
    color: var(--primary-color);
}

.outline-error{
    background-color: var(--off-white);
    color: var(--danger-color);
} 

.outline-warning{
    color: var(--warning-color);
    background-color: var(--off-white);
}

.outline-success{
    color: var(--success-color);
    background-color: var(--off-white);
}

.button-link{
    border: 2px solid black;
}

.button-floating{
    border-radius: 50%; 
  width: 70px;
  height: 70px; 
  background-color: var(--default-color);
  color: var(--off-white);
  cursor: pointer;
} 

