.typographyVariantTitle{
    color: var(--primary-color);
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.typographyVariantContainer{ 
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    width: 40rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.3rem;
    padding-left: 1rem;
    flex-wrap: wrap;
} 




.typographyVariantContainer2{
    display: flex;
    width: 800px;
    height: 400px;
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.text-center{
    display: flex;
    width: 400px;
    height: 200px;
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;


}



.gray-text{
    color: var(--gray-color);
}

.small-text{
    font-size: 10px;
}

.text{
    padding: 0.5rem;
}

.typographyVariantContainer3{
    border: 2px solid black;
    height: 80px;
    width: 400px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
