@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;900&display=swap');
@import url("./landingpage.css");
@import url("./documentation.css");


*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    word-wrap: break-word;
} 

:root{
    --primary-color: #8B5CF6;
    --secondary-color: #ede9fe;
    --hover: #C4B5FD;
    --paragraph-color: rgba(53, 53, 53, 0.952);
} 

::-webkit-scrollbar{
 width: 10px;
}

::-webkit-scrollbar-track{
 border-radius: 5px;
}

::-webkit-scrollbar-thumb{
 background-color: var(--primary-color);
 border-radius: 5px;
}

.linkActive{
    color: var(--primary-color);
    font-weight: bold; 

}


a:hover{
    color: var(--primary-color);
    font-weight: bold;
    /* background-color: var(--hover);  */

}