 /* By default font family used by TripleS  */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;900&display=swap'); 
@import url("./landingpage.css");
@import url("./documentation.css");
@import url("./button/button.css");
@import url("./alert/alert.css");
@import url("./avatar/avatar.css");
@import url("./badge/badge.css"); 
@import url("./image/image.css");
@import url("./input/input.css");
@import url("./card/card.css"); 
@import url("./Typography/typography.css");
@import url("./toast/toast.css");
@import url("./list/list.css");
@import url("./navigation/nav.css");
@import url("./modal/modal.css");
@import url("./rating/rating.css");
@import url("./grid/grid.css");
@import url("./introduction/introduction.css");
@import url("./conclusion/conclusion.css");


*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    word-wrap: break-word;
} 

:root{
    --primary-color: #8B5CF6;
    --secondary-color: #ede9fe;
    --hover: #C4B5FD;
    --paragraph-color: rgba(53, 53, 53, 0.952); 
    --default-color: #172B4D;
    --danger-color: #F44336;
    --success-color: #4CAF50;
    --warning-color: #FF9800;
    --primary-hover: #4F46E5;
    --secondary-hover: #E5E7EB;
    --danger-hover: #d31609;
    --success-hover: #0d8611;
    --active-hover: #058ce0;
    --off-white: #F6F9FC;
    --gray-color: #6B7280;
    --white-color: white; 
} 

::-webkit-scrollbar{
 width: 10px;
}

::-webkit-scrollbar-track{
 border-radius: 5px;
}

::-webkit-scrollbar-thumb{
 background-color: var(--primary-color);
 border-radius: 5px;
}

.linkActive{
    color: var(--primary-color);
    font-weight: bold; 

}


a:hover{
    color: var(--primary-color);
    font-weight: bold;

}

.no-border{
    border: none;
}
/* 
::placeholder{
    border: none;
} */
